.card-center {
    
    display: flex;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    align-items: center;
    justify-content: center;
}

.header {
    height: 200px;
    width: 100%;
    background-color: #E9EEF6;
    padding-top: 50px;
}

.card-container {
    height: 300px;
    width: 300px;
    box-shadow: 0px 3px 50px #A5A5A5;
}

.card-wrapper {
    width: 270px;
    height: 200px;
    box-shadow: 0px 3px 50px #A5A5A5;
    display: flex;
    flex-direction: column;
}

.card-top {
    width: 100%;
    height: 2%;
}

.task-holder {
    width: 100%;
    height: 98%;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-header {
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: 80px;
    height: 30px;
    padding: 1px 1px !important;
    text-align: center;
}
.p{
    margin-top: 100px;
}
.task-container {
    height: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #F6F7F8;
    padding: 40px 100px;
}

.addtodowithdescription {
    text-align: center;
}
.button{
  
    height: 145px;
    width: 355px;
   
    
}
.control-center{
    
}
.center-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listgroupitem{
    
    align-items: center;
    height: 150px;
}
.logoutbutton{
position: 'relative';
height: 500;
alignItems: 'center';
justifyContent: 'center';
}